.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card{
  width: 20rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
  padding: 3rem 0 !important;
}

.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid{
  padding-top: 6rem;
}